/* skills.css */

/* Umiejętności */
.profile-skills {
    margin: 20px;
    padding: 20px;
    background-color: #2e2e2e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-skills ul {
    list-style: none;
    padding: 0;
}

.profile-skills li {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-skills button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #008CBA;
    border: none;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.profile-skills button:hover {
    background-color: #007B9E;
}
